@font-face {
    font-family: Bainsley;
    src: url(./fonts/Bainsley_Bold.otf);
}
@font-face {
    font-family: Naruto;
    src: url(./fonts/njnaruto.ttf);
}

body{
    display: flex;
    justify-content: center;
    background-image: url(./img/fondo.png);
    right: 0;
    left: 0;
    margin: 0 auto;
}

.tituloImg{
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 250px;
    width: 250px;
}
.cuadroInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 250px;
    background-color: rgb(51, 51, 51, 0.9);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 480px;
    height: 600px;
    border-radius: 20px;
    box-shadow: -7px 8px 34px 5px rgba(0,0,0,0.65);
    -webkit-box-shadow: -7px 8px 34px 5px rgba(0,0,0,0.65);
    -moz-box-shadow: -7px 8px 34px 5px rgba(0,0,0,0.65);
}
/* Esto manipula elementos generales de cualquier pantalla. Para manipular uno de manera más especifica, revisa la seccion relacionada */
.input1{
    position: relative;
    top: 50px;
}
.input2{
    position: relative;
    top: 70px;
}
.submitGeneral{
    right: 100px;
    margin: 0 auto;
    cursor: pointer;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 225px;
    border-radius: 10px;
    background-color: rgb(51, 51, 51, 0.9);

}
.submitGeneral:hover{
    transition: all .4s ease;
    background-color: rgba(82, 82, 82, 0.9);
}

.buttonRecuperarGeneral{
    position: absolute;
    top: 225px;
    left: 100px;
    height: 50px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    background-color: rgb(51, 51, 51, 0.9);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
}
.buttonRecuperarGeneral:hover{
    transition: all .4s ease;
    background-color: rgba(82, 82, 82, 0.9);

}


.input1, .input2{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.input1:placeholder-shown{
    text-align: center;
    font-size: 12px;
    font-family: Naruto;
}
.input2:placeholder-shown{
    text-align: center;
    font-size: 12px;
    font-family: Naruto;
}
.buttonVolver{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 520px;
    height: 20px;
    width: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    background-color: rgb(51, 51, 51, 0.9);
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.buttonVolver:hover{
    transition: all .4s ease;
    background-color: rgba(82, 82, 82, 0.9);
}

/*  */




/*  */
/*  */
/*  */
/* !PRIMERA PANTALLA - INDEX GENERAL */


.tituloCalcular{
    font-family: Naruto;
    color: white;
    text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px;
}

.buttonGolpes{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    width: 200px;
    font-family: Bainsley;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px;
    background-color: rgb(51, 51, 51, 0.9);
    padding: 30px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.buttonGolpes:hover{
    transition: all .4s ease;
    background-color: rgba(82, 82, 82, 0.9);
}

.buttonChakra{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 70px;
    width: 200px;
    font-family: Bainsley;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px;
    background-color: rgb(51, 51, 51, 0.9);
    padding: 30px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.buttonChakra:hover{
    transition: all .4s ease;
    background-color: rgba(82, 82, 82, 0.9);
}

.cuadroInputs div{
    -webkit-user-select: none;
    cursor: pointer;
}


/*  */
/*  */
/*  */

.labelsInputFuerza{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.labelsInputTecnica{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.descripcionGeneral{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 13px;
    color: white;
}

.label1, .label2{
    font-size: 20px;
    font-family: Bainsley;
    color: white;
    text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px;
}
.resultadoGeneral{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}


/* PARA FUERZA */

.boxRadios{
    position: absolute;
    top: 280px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 10px;
    border: 2px solid rgb(110, 18, 18);
    width: 500px;
    height: 130px;
}
.boxRadios p{
    position: absolute;
    top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font: 12px;
}
.radiosFuerza{
    position: absolute;
    top: 350px;
    z-index: 3;

}
.radiosFuerza input{
    display: none;
}
.radiosFuerza label{
    display: inline-block;
    background-color: rgba(82, 82, 82, 0.3);;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}
.radiosFuerza input:checked + label{
    background-color:#bfb;
    border-color: #4c4;
}


/*  */
/*  */
/* PARA CHAKRA */


.descripcionTecnica{
    position: relative;
    top: 50px;
    padding: 20px;
}
.submitTecnica{
    top: 260px;
    right: 130px;
}
.buttonRecuprarChakra{
    top: 260px;
    left: 130px;
}
.radiosChakra{
    position: relative;
    top: 215px;
}

.boxRadiosChakra{
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 315px;
}
.buttonVolverTecnica{
    top: 590px;
}

.radiosChakra input{
    display: none;
}
.radiosChakra label{
    display: inline-block;
    background-color: rgba(82, 82, 82, 0.3);;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}
.radiosChakra input:checked + label{
    background-color:#bfb;
    border-color: #4c4;
}

.resultadoTecnica{
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 470px;
    padding: 20px;
}

/*  */
/*  */
/*  */
/*  */

.cuadroAlerta{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 400px;
    background-color: rgba(135, 0, 0);
    border-radius: 10px;
    border: 5px solid rgb(91, 1, 1, 0.75);
    width: 500px;
    height: 300px;
    z-index: 3;
    text-align: center;
    color: white;
    font-size: 30px;
}